body{

    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    }


h1{

color: white;

}

h2{

    color: white;
   
}

nav{
    font-size: 1.2em;
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 10px;
   
}

a[href]{
    color:#ff00ff;
font-weight: bold;
}

.toTheLeft{

  position: absolute;
  right: 10px;
  top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.name{
font-size: 2.5em;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.title{

    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-direction: column;
    align-items:center;
    }

    .nameto{

        font-size: 2.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        position: absolute;
        right:300px;
        top:100px;


    }

    .titleto{

        font-size: 2.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        flex-direction: column;
        align-items:center;
        position: absolute;
        left:100px;
        }


.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.wrapper img {
    background: transparent;
    
  }


header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    background-color: transparent;
    
}

header img{

    background-color: transparent;
}
.foreground{
    transform: translateZ(-5px) scale(1.5);
    z-index: -.5;
    background: transparent;
}

.foreground img{

    background-color: transparent;
}

.background{
    transform: translateZ(-10px) scale (2);
    z-index: -1;
    background: transparent;
}

.background img {
    background-color: transparent;
}


.foreground,.background {
position: absolute;
height: 100%;
width: 100%;
object-fit: cover;
background-color: transparent;
   
}

section{
    font-size: 2rem;

    background-color: #333;
    color:white

}

.contactMeAt{

    color: #ff00ff;
    font-weight: 1.8em;
    padding: 20px;
    font-size: 1.3em;
}

.contactMeAtStart{

    color: #ff00ff;
    font-weight: 2em;
    font-size: 2.5em;
    padding: 20px;
}

p{

    color: #ff00ff;
}

.aboutMeSection{
    color: #ff00ff;
    font-size: 1.3em;
    padding: 20px;
}

.mitch{
    height: 200px;
    width:200px;
float: left;
margin-right: 10px;
}

.gameTitle{
  color:  #ff00ff;
  font-size: 1.5em;
  clear: both;
  
}

.recentProjects{

    color:  #ff00ff;
    font-size: 2.5em;
  padding: 15px;
    
}

.gameText{
    font-size: 1.3em;
}

.radley{
    height: 200px;
    width:200;
float: left;
margin-right: 10px;

}

.tomb{
    height: 180px;
    width:200px;
float: left;
margin-right: 10px;
}

.games{

    margin-bottom: 10px;
    padding: 20px;
}

.gameText{

    padding: 10px;
}

.sol{
height: 200px;
width: 200px;
}

.aboutTitle{

    color: #ff00ff;
    font-weight: 2em;
    font-size: 2.5em;
    padding: 20px;
}